main {
    height: calc(100vh - 7rem);
    
    .slider {
        height: 100%;
        display: flex;
        flex-direction: column;

        .current-slide {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: url("images/img_1.jpg.webp");

            .fa-solid {
                font-size: 4.4rem;
                padding: 2rem;
            }
        }
        .slide-dots {
            padding-block: 1rem;
            display: grid;
            grid-template-columns: repeat(10,1fr);
            gap: 1rem;
            .image-dot {
                height: 10rem;
                width: 100%;
            }
            .active-dot {
                border: .5rem solid #e44985;
            }
        }
    }
}